body {

        font-family             : 'Roboto Condensed', sans-serif;

        line-height             : 1.5;

        background-color        : rgb(0, 0, 0);

        color                   : #fff;


}

p {

        margin                  : 0 0 10px 0;

}

.wrap {

        color                   : rgb(255, 255, 255);

        font-size               : 24px;

}

.clip-svg {

        width                   : 0;

        height                  : 0;

}   

.clip-caption {

        width                   : 100%;

        position                : absolute;

        top                     : 50%;

        -ms-transform           : translateY(-50%);

        -webkit-transform       : translateY(-50%);

        transform               : translateY(-50%);

        text-align              : center;

}

.clip-each {

        display                 : block;

        position                : relative;

        -webkit-clip-path       : polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

        clip-path               : polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);

        -webkit-clip-path       : url("#hexagon-clip");

        clip-path               : url("#hexagon-clip");

        -webkit-transition      : all 0.2s ease-in;

        transition              : all 0.2s ease-in;

        margin                  : 0 auto;

}

a.clip-each:hover {

        background              : #ffc107;

        -webkit-transition      : all 0.25s ease-in;

        transition              : all 0.25s ease-in;

}

.clip-solid {

        width                   : 300px;

        height                  : 300px;

        background-repeat       : no-repeat;

        background-size         : contain;

        background-color        : #673ab7;

        background-blend-mode   : hard-light;

        -webkit-transition      : all 2.5s linear;

        transition              : all 2.5s linear;

}

.clip-solid:after {

        content                 : "";

        position                : absolute;

        left                    : 0;

        right                   : 0;

        bottom                  : 0;

        -webkit-clip-path       : polygon(100% 3%, 17% 100%, 100% 100%);

        clip-path               : polygon(100% 3%, 17% 100%, 100% 100%);

        -webkit-clip-path       : url("#triangle-clip");

        clip-path               : url("#triangle-clip");

        background              : #ffc107;

        z-index                 : 1;

        width                   : 100%;

        height                  : 155px;

        -webkit-transition      : all 0.2s linear;

        transition              : all 0.2s linear;

        pointer-events          : none;

}

.clip-solid:hover:after {

        height                  : 0;

        -webkit-transition      : all 0.45s ease-in;

        transition              : all 0.45s ease-in;

}

.clip-solid:hover .social-share-block {

        -webkit-transition      : all 0.2s linear;

        transition              : all 0.2s linear;

}

.social-share-block {

        position                : absolute;

        bottom                  : 20px;

        right                   : 75px;

        color                   : #fff;

        font-size               : 70%;

        z-index                 : 2;

}

.social-each {

        font-size               : 80%;

}

.clip-gradient {

        background              : #FFC107;

        width                   : 60px;

        height                  : 60px;


}

.clip-gradient .clip-caption {

        color                   : rgb(255, 255, 255);

}   

.clip-tagline {

        display                 : block;

        color                   : #758C9B;

        text-decoration: none;

        text-align: center;

}

@media only screen and (min-width: 550px) {

    .wrap {

        display                 : table;

        position                : absolute;

        top                     : 50%;

        left                    : 50%;

        -ms-transform           : translateY(-50%) translateX(-50%);

        -webkit-transform       : translateY(-50%) translateX(-50%);

        transform               : translateY(-50%) translateX(-50%);

    }

    

    .clip-block {

        display                 : table-cell;

        vertical-align          : middle;

    }

    

    .clip-border {

        margin-top              : 20px;

    }

}

#volet {

        width                   : 180px;

        padding                 : 10px;

        background              : rgb(0, 0, 0);

        text-align              : right;

        color                   : #FFC107;

        position                : relative;

        left                    : -270px;

        top                     : -207px;

        -webkit-transition      : all .5s ease-in;

        transition              : all .5s ease-in;

}

#volet a.ouvrir,

#volet a.fermer {

        padding                 : 5px 10px;

        background              : #FFC107;

        color                   : #fff;

        text-decoration         : none;

        position                : absolute;

        right                   : -65px;

        top                     : 10px;

        /* quelques styles CSS3 */

        -ms-transform           : rotate(270deg);

        -moz-transform          : rotate(270deg);

        -webkit-transform       : rotate(270deg);

        transform               : rotate(270deg);

        border-radius           : 0 0 8px 8px;

}

#disconnect {

        color                   : #fff;

}

#volet:target {

        left                    : 0;

}

#volet_clos:target #volet {

        left                    : -223px;

}

#volet a.fermer {

        display                 : none;

}

#volet:target a.ouvrir {

        display                 : none;

}

#volet:target a.fermer {

        display                 : block;

}

h4 {

        margin-top              : 5%;

        margin-bottom           : 5%;

}

.spaceInput {

        margin                  : 1%;

}

.txtBlack {

        color                   : black;

}

.btnFullCol {

        width                   : 100%;

}

.spaceInput {

        margin                  : 1%;

        background              : black;

        border-color            : #FFC107;

}