@charset "UTF-8";
body {
	background:#c1bdba;
}
.errors {
	color: red;
	font-weight: bold;
}

.formRegistrationSignIn {
	color : #1ab188;
	background: rgba(19,35,47,0.9);
	padding: 40px;
	max-width: 600px;
	margin: 40px auto;
	border-radius: 4px;
	box-shadow: 0 4px 10px 4px rgba(19,35,47,.3);
}

.button-submit {
	width: 100%;
	letter-spacing:.1em;
	background-color : #1ab188;
	border: 0;
}